@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts Import */
@font-face {
  font-family: rubic-regular;
  src: url(../app/fonts/Rubik-Regular.ttf);
}

.rubic-regular{
  font-family: rubic-regular;
}

@font-face {
  font-family: rubic-bold;
  src: url(../app/fonts/Rubik-Bold.ttf);
}

.rubic-bold{
  font-family: rubic-bold;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: #F9F6EE;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

#profilecard strong {
  color: #2274A5;
}

.outlined-text {
  filter: drop-shadow(1px 1px black) drop-shadow(-1px -1px black) drop-shadow(1px -1px black) drop-shadow(-1px 1px black);
  color: #F9F6EE;
}